<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card-body p-5">
        <h2>
            Reset Your Password
        </h2>
        <form id="form"> New Password: 
                <input type="password" id="password" name="" required />
                <button type="button" onclick="forgetPassword()">Submit</button>
        </form>
        <div>
            <a href="./login.html" style="font-weight: 800;">
                <u>Go to Login</u>
            </a>
        </div>
        <h3 id="errorMessage">

        </h3>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="forgetpassword.js" defer></script>
</body>
</html>