<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
    </head>
    <body style="background-image: linear-gradient(to right, #c6ffdd8a, #ae9b6f80, #e98e918c, #c6ffdd97);">
        <div id="isPremium">
            <h4>Add Expense</h4>
        </div>
        <form id="form">
                Expense Amount:
                <input type="number" id="expenseAmount" name="">
                Expense Description: 
                <input type="text" id="expenseDesc" name="">
                Expense Category:
                <select name="category" id="expenseCategory">
                    <option>Choose Category</option>
                    <option>Food</option>
                    <option>Petrol</option>
                    <option>Salary</option>
                    <option>Electronic</option>
                </select>
                <button type="button" onclick="addExpense()">Add Expense</button>
        </form>
        <div id="premiumbtn">
            <script src="https://checkout.razorpay.com/v1/checkout.js" defer></script>
        </div>
        <br>
        <div>
            <h3 >Your Expense</h3>
        </div>
        <table>
            <tbody id = "items">
            </tbody>
        </table>
        <div id="headingHead">

        </div>
        <table>
            <tbody id="leaderboarditem">

            </tbody>
        </table>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="./deshboard.js" defer></script>
    </body>
</html>